<div class="login-register-wrapper">
	<div class="login-register-menu">
		<ul>
			<li ng-click="joinToggle()"> Join Game </li>
			<li ng-click="createToggle()"> Create Game </li>
		</ul>
	</div>
</div>
<div class="forms-container">
	<div class="login-register-form" ng-show="create">
		<form role="form" name="createForm" ng-submit="createGroup()">
			<div class="form-group">
				<label> New Group Name </label>
				<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter new group name" ng-model="group.name" required>
				<p class="error" ng-if="createForm.inputName.$error.required && createForm.inputName.$dirty">
					Group name is required
				</p>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default" ng-disabled="createForm.$invalid"> Submit </button>
			</div>
		</form>
	</div>
	<div class="login-register-form" ng-show="join">
		<form role="form" name="joinForm">
			<div class="form-group">
				<!-- Add filter to show existing groups -->
				<label> Group Name </label>
				<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter group name" ng-model="group.name" required>
				<p class="error" ng-if="joinForm.inputName.$error.required && joinForm.inputName.$dirty">
					Group name is required.
				</p>
			</div>
			<div class="form-group">
<!-- 				<label> Password </label>
				<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Enter group password" ng-model="group.password" required>
				<input type="password" class="form-control" id="inputHatPassword" name="inputHatPassword" placeholder="Enter hat password if logging in as the hat" ng-model="group.hatPassword">
				<p class="error" ng-if="joinForm.inputPassword.$error.required && joinForm.inputPassword.$dirty">
					Group password is required
				</p> -->
				<button type="submit" class="btn btn-default" ng-disabled="joinForm.$invalid"> Submit </button>
			</div>
		</form>
	</div>
</div>